.add-account-modal {
    width: 100% !important;
    border: none !important;
}

.account-details-ibox-width {
    width: 33.3% !important;
    margin-top: 10px !important;
}

.side-menu-height {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px !important;
}

.logo-dimensions {
    padding: 0px !important;
}

.logo-text-style {
    font-size: 18px !important;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.add-tx-table-button-padding {
    padding: 0px !important;
}

.progress-background-color {
    background-color: #2bd96e !important;
    margin-bottom: 0px !important;
}

.progress-success-background-color {
    background-color: #dcdce2 !important;
}

.UIProgressBar {
    border: 1px solid #dcdce2;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}
